html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#videoFeed {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  position: relative;
  width: "fit-content";
  isolation: isolate;
  width: 100%;
  height: 100%;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: darken;
  opacity: 1;
  pointer-events: none;
}

.filters {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  gap: 8px;
  z-index: 2;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  margin: 8px
}

.filters .filter-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  pointer-events: all;
  cursor: pointer;
}

.red {
  background-color: rgba(255, 0, 0, 0.9);
}

.green {
  background-color: rgba(0, 255, 0, 0.9);
}

.blue {
  background-color: rgba(0, 0, 255, 0.9);
}
